<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pokemonfirebase">

    <!-- Permiso para acceso a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/firebase_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/firebase_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp.Splash"
        tools:targetApi="31">


        <!-- LoginActivity  -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades -->
        <activity android:name=".MainActivity" />
        <activity android:name=".PokemonDetailActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".IntermediateActivity"/>

    </application>

</manifest>
